<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-container">
        <section class="success-container">
            <h1>Payment Successful!</h1>
            <p>Thank you for your preorder. Your transaction reference is <%= @transaction["reference"] %>.</p>
            <p>We look forward to seeing you at the event!</p>
        </section>
    </div>
</body>
</html>
